In [3]:
import pandas as pd


df = pd.read_csv('./ExampleCode/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo